.shower {
    --color-light-blue:   #c0daf5;
    --color-green:  #d0faa2;
    --color-orange: #fae3a2;
}

section.title div h2 {
    margin: 380px 0 0;
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: black 0 0 20px, black 0 0 40px;
}

var {
    font-family: 'PT Serif',serif;
    font-style: italic;
}

.slide p .comment {
    color: #999
}

.slide pre .error {
    color: #900;
}

.slide mark.blue {
    background-color: var(--color-light-blue);
}

.slide mark.green,
.slide code.green {
    background-color: var(--color-green);
}

.slide mark.orange {
    background-color: var(--color-orange);
}


div.bordered {
    border: 5px solid var(--color-grey);
    border-radius: 25px;
    padding: 0 10px;
    margin: 0 -10px;
}

div.bordered.green {
    border-color: var(--color-green);
}

div.bordered.orange {
    border-color: var(--color-orange);
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
/*  padding: 0.5em;
  color: #333;
  background: #f8f8f8;*/
}

.hljs-comment,
.hljs-quote {
  color: #89a;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #087;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #008;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #092;
}

.hljs-symbol,
.hljs-bullet {
  color: #907;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #08b;
}

.hljs-meta {
  color: #d71;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
